.booleanInput {
    margin-bottom: rem-calc(20);

    &__label {
        display: inline-block;
    }

    input[type=checkbox] {
        display: none;

        + label {
            margin-left: rem-calc(40);
            text-decoration: line-through;

            $image: $img-icon-path + 'checkbox.png';
            @include pseudo-el(before, 32px, 30px) {
                background: url($image) no-repeat;
            }
        }

        &:checked {
            + label {

                text-decoration: none;
                $image: $img-icon-path + 'checkbox-active.png';
                @include pseudo-el(before, 32px, 30px) {
                    background: url($image) no-repeat;
                }
            }
        }

        &:checked.error {
            + label {

                text-decoration: none;
                $image: $img-icon-path + 'checkbox-error.png';
                @include pseudo-el(before, 32px, 30px) {
                    background: url($image) no-repeat;
                }
            }
        }
    }

    input[type=radio] {
        display: none;

        + label {
            margin-left: rem-calc(40);

            $image: $img-icon-path + 'radiobutton.png';
            @include pseudo-el(before, 12px, 12px) {
                left: -32px;
                top: 4px;
                background: url($image) no-repeat;
            }
        }

        &:checked {
            + label {

                $image: $img-icon-path + 'radiobutton-active.png';
                @include pseudo-el(before, 12px, 12px) {
                    background: url($image) no-repeat;
                }
            }
        }
    }
}
