.decoration {
    padding: rem-calc(10);

    @include breakpoint(medium up) {
        padding: rem-calc(30);
    }

    @extend %boxshadow;

    &__paper {
        background: url($img-deco-path + 'paper-background.png') ;
    }

    &__tape {

        @mixin left-postion() {
            top: -6px;
            left: -9px;
        }

        @mixin right-postion() {
            bottom: -11px;
            right: -12px;
        }

        $image: $img-deco-path + 'tape.png';
        @include pseudo-el(before, 40px, 40px) {
            background: url($image) no-repeat;
        }

        &--left:before {
            @include left-postion();
        }

        &--right:before {
            @include right-postion();
        }

        &--dual {

            &:before{
                @include left-postion();
            }

            @include pseudo-el(after, 40px, 40px) {
                background: url($image) no-repeat;
                @include right-postion();
            }
        }
    }

    &__plain {
        background: white;
    }
}
