label {
    @extend p;
}

textarea {
    height: rem-calc(300);
}

form {
    position: relative;
}

// Turn off the number spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
[readonly],
textarea,
input {
    border: solid 1px $color__primary--mid;
    border-radius: 5px;

    @include placeholder($color__primary--mid) {
        font-family: $font__tertiary;
        font-style: italic;
    }
}

.input {
    position: relative;
    &__valid {
        border: solid 1px $color__valid !important;
        background: lighten($color__valid, 20%);
    }


    // TODO clean up float classes

    &__right,
    &__left {
        width: 100%;

        @include breakpoint(medium up) {
            width: 48%;

            &--large {
                width: 65%;
            }

            &--small {
                width: 31%;
            }
        }

        &--always {
            width: 48%;

            @include breakpoint(small only) {
                padding: 6% 0;
                line-height: 10px;
            }
        }
    }

    &__left,
    &__left--always {
        float: left;
    }

    &__right,
    &__right--always {
        float: right;
    }

    &__clear {
        clear: both;
    }

    &__password {
        margin-bottom: 0;

        + label {
            margin-bottom: rem-calc(16);
        }
    }

    &__postcode,
    &__postcode input {
        text-transform: uppercase;
    }

    &__cvv {

        input {
            width: 77%;
            float: left;
        }

        &--trigger {
            width: 20%;
            text-align: center;
            padding: rem-calc(11 0 3);
            margin: 0;
            float: right;
        }
    }

    &__error {
        border: solid 1px $color__warning;
        background-color: lighten($color__warning, 20%);

        @include placeholder($color__warning)

        &--description {
            color: $color__warning;
            text-transform: none;
        }
    }
}

.error {
    color: $color__warning;
    text-transform: none;

    &__list {

        &--registration {
            margin-bottom: rem-calc(30);
        }
    }
}


.alert {

    &-danger {
        font-weight: bold;
        padding-bottom: rem-calc(20);
    }
}

// ****************************************
// Legacy site
// ****************************************
p.alert-danger,
.alert-danger {
    font-weight: normal;
    font-size: 20px
}

.form {

    &__legacy {
        margin: 0 auto;

        &--narrow {
            max-width: rem-calc(880);
        }
    }
}

// .cvv__padded--top {
//     margin-top: rem-calc(20);
// }


.parsley-error {
    @extend .input__error;
    margin-bottom: 0;
}

.parsley-errors-list {
    list-style-type: none;
    margin-bottom: rem-calc(16);
    color: $color__warning;

    &.filled {
        margin-top: 0;
    }
}
.parsley-custom-error-message {
    color: inherit;
}
