.reveal {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: none;
    border: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &__container {
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        min-width: 50%;

        @extend .decoration;
        @extend .decoration__paper;
    }

    &__close {
        position: absolute;
        right: -12px;
        top: -10px;
        max-width: rem-calc(30);
        padding: rem-calc(10 10 0);
        cursor: pointer;
    }
}
