.table {
    width: 100%;

    @include breakpoint(small only) {
        &--stackable {
            @extend table.stack;
        }
    }

    // @include breakpoint(small only) {
    //     // Similar to Foundation include but that only effects medium down, not small down
    //     // see bower_components/foundation-sites/scss/components/_table.scss line 215
    //     &--stackable {
    //         tr,
    //         th,
    //         td {
    //           display: block;
    //         }
    //
    //         td {
    //           border-top: 0;
    //         }
    //     }
    // }

    &__row,
    thead,
    td {

        &--header {
            border-bottom: 1px solid $color__primary--dark;
        }
    }

    td {
        text-align: left;
    }
}
