> .decoration {

    @include breakpoint(medium up) {
        padding: rem-calc(30) 21%;
    }
}

.socialites {
    margin-top: rem-calc(10);

    &--item {
        font-size: 33px;
    }
}

.share__invitation {

    p {
        margin-top: 0;

        &.padded {
            padding: rem-calc(0 50);
        }
    }

    &--link {
        @extend input;

        padding: rem-calc(10 40);
        background-image: image($icon, 'copy-link.png');
        background-repeat: no-repeat;
        background-position: 8px 50%;
    }

    &--code {
        font-weight: normal;
        font-size: 25px;
        color: $color__cta--primary;
        margin-top: 0;
    }
}
