%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%boxshadow {
	box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.2);
}

.plainlist {
	margin: 0;
	padding: 0;

	list-style: none;

	> li {
		margin: 0;
		padding: 0;
	}
}

.text-center {
	text-align: center;
}

@include breakpoint(medium up) {
	.padder {
		margin: rem-calc(50 0);
	}
}

.clear {
	clear: both;
}
