%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.plainlist {
	margin: 0;
	padding: 0;

	list-style: none;

	> li {
		margin: 0;
		padding: 0;
	}
}

.text-center {
	text-align: center;
}

.clear {
	clear: both;
}

.pointer {
	cursor: pointer;
}
