// ****************************************
// Fonts
// ****************************************
$font__primary: "Roboto-Regular-webfont", "Times", serif;
$font__secondary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
$font__tertiary: Georgia, Times, "Times New Roman", serif;

// ****************************************
// Paths
// ****************************************
$asset-base-path: '../';

// ****************************************
// Image paths
// ****************************************
$img-path: $asset-base-path + "images/";
// $img-deco-path: $img-path + "";
// $img-content-path: $img-path +  "";
$img-svg-path: $img-path +  "svg/";
$img-icon-path: $img-path +  "icons/";
$img-deco-path: $img-path +  "decoration/";

// ****************************************
// Image types - varibale in singular
// ****************************************
$icon: 'icons';
$content: 'content';
$decoration: 'decoration';
$svg: 'svgs';

// ****************************************
// Base colors
// ****************************************
$color__background: #FAFAFA;
$color__primary: #ccc;
$color__primary--dark: #222;
$color__primary--mid: #959595;
$color__primary--light: #f4f4f4;
$color__warning: #D32F2F;
$color__valid: #4CAF50;
$color__cta--primary: #4CAF50;
$color__cta--secondary: #2196F3;
