.page-account {

    .checkout_address_list {

        select {
            margin-top: 0;
            margin-bottom: rem-calc(20);
        }
    }

    .share {

        &__item {

            a,
            a:hover {
                text-decoration: none;
            }

            i {
                font-size: 30px;
                margin-right: rem-calc(20);
            }

            &--text {
                display: inline-block;
            }
        }
    }
}
