.manual-address-toggle {
    @include hover-transition(text, $color__cta--primary, lighten($color__cta--primary, 20%) );
}

.registration-header {
    margin-bottom: 0;
    width: 90%;

    @include breakpoint(medium up) {
        width: 40%
    }
}

.order-steps {
    margin-bottom: 0;
}

.booleanInput {

    input[type=checkbox] {

        + label {
            text-decoration: none;

            &:before {
                left: -40px;
                top: -6px;
            }
        }
    }
}

.log-out-inline {
    @include hover-transition(text, $color__cta--primary, 10%);
}


// ****************************************
// Customer Details Stage
// ****************************************
.page-checkout {

    #pca-results {
        @include breakpoint(small only) {
            margin-top: rem-calc(15);
        };
    }
}

// ****************************************
// Customer Payment Stage
// ****************************************
.page-checkout-payment {

    @include breakpoint(small only) {

        .button  {
            margin-top: 0;
            margin-left: 2%;
        }
    }
}
