@mixin formWidth() {
    /**
        * Sets the same width for the tabs and the form wrapper
        *
        * The form and tabs need to be seperated as they are rendered
        * seperately in React
    */
    @include breakpoint(medium up) {
        width: 70%;
        margin: 0 auto;
    }
}

.page-register {

    // hide the sign up option
    .useraccess__item {

        &:before {
            display: none;
        }

        &--register {
            display: none;
        }
    }
}

.registration {

    &__wrapper {
        margin: rem-calc(20) auto 0;
    }

    &__form {
        @include formWidth();
        @include move-z(1);

        margin-top: rem-calc(-1);
    }

    &__about,
    &__payment {
        max-width: 580px;
        margin: 0 auto;

        .error {

            &__duplicateInfo {

                @include breakpoint(small only) {
                    margin-bottom: rem-calc(20);
                }
            }
        }
    }

    &__payment {

        &--billing {
            margin-bottom: 15px;
            border-bottom: 1px solid $color__primary--dark;
        }

        @include breakpoint(medium up) {
            &--details {
                $image: image($icon, 'password-lock.png');
                @include pseudo-el(after, 45px, 55px) {
                    right: 0;
                    top: 0;
                    background: $image;
                }
            }
        }
    }
}

.referal {

    &__info {

        @include breakpoint(medium up) {
            margin-top: rem-calc(12);
            padding-left: rem-calc(15);

            @include pseudo-el(before, 10px, 10px) {
                content: "<";
                left: 0;
                top: 0;
            }
        }
    }
}

.confirmation {

    &__wrapper {
        position: relative;
    }

    @include breakpoint(medium up) {
        &__content {
            padding: 0 10%;

            &--title {
                margin-bottom: 0;
            }
        }

        &__share {
            margin-top: rem-calc(30);

            p {
                margin-bottom: 0;
            }
        }
    }

    // ****************************************
    // TATOO PLACEMENT
    // ****************************************
    .tattoo {
        position: absolute;
        bottom: 21.8%;
        right: 30%;
        transform: rotate(16deg);
        z-index: 1;
        width: 14%;
        height: 7%;

        @include breakpoint(small only) {
            bottom: 21%;
            right: 34%;
        }

        p {
            font-family: $font__primary;
            line-height: 230%;
            margin-top: 9%;
            margin-bottom: 0;
            position: relative;
            text-align: center;
            margin: 0;

            @include breakpoint(small only) {
                top: 0;
            }
        }

        &__big {

            &--name {
                font-size: 17px;

                @include breakpoint(medium only) {
                    font-size: 1.5vw;
                }

                @include breakpoint(small only) {
                    font-size: 2.1vw;
                }
            }
        }

        &__small {
            @include breakpoint(small only) {
                bottom: 20.5%;
                right: 30%;
            }

            &--name {
                font-size: 12px;

                @include breakpoint(medium only) {
                    font-size: 0.8vw;
                }

                @include breakpoint(small only) {
                    font-size: 1.6vw;
                }
            }
        }

        &__default {
            bottom: 21.1%;
            right: 29.5%;

            @include breakpoint(small only) {
                bottom: 20.5%;
                right: 30%;
            }

            &--name {
                font-size: 10px;

                @include breakpoint(medium only) {
                    font-size: 0.8vw;
                }

                @include breakpoint(small only) {
                    font-size: 1.6vw;
                }
            }
        }
    }

    &__share {

        &--title {
            margin-bottom: 0;
        }
    }
}

.progress {
    @include formWidth();
    @include move-z(0)

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        $border-radius: 15px;
        display: inline-block;
        width: 50%;

        color: $color__primary;
        text-align: center;

        padding-top: rem-calc(15);

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        &--header {
            margin: 0;
            color: inherit;
        }

        &--title {
            padding-left: rem-calc(10);

            @include breakpoint(small only) {
                display: none;
            }
        }

        &--active {
            color: $color__primary--dark;
            background: white;
            box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.2);
        }
    }
}
