.socialites {

    &--left {
        text-align: left
    }

    &--blue {

        i {
            color: $color__cta--primary;
        }
    }

    &__item {
        display: inline-block;
        font-size: 40px;

        i {

            &.icon {

                &-email { margin-left: rem-calc(5) }
                &-sms { margin-left: rem-calc(15) }
            }

            &:before {
                margin: 0;
            }
        }
    }
}
