.bookmarklist {
    $container-width: 40%;

    @include breakpoint(medium up) {
        width: $container-width;
    }

    &__footer {
        text-align: center;
        width: $container-width;
    }

    &__item {
        margin-bottom: rem-calc(10);

        &--edit {
            margin-bottom: rem-calc(20);

            @include breakpoint(medium-up) {
                input {
                    max-width: 40%;
                }
            }
        }
    }
}

.paginate {

    .paginate__item {
        display: inline-block;
        font-size: 18px;
        padding: rem-calc(0 5);

        &--active {
            font-weight: bold;
        }
    }
}
