.bookmarklist {

    @include breakpoint(medium up) {
        width: 40%;    
    }

    &__item {
        margin-bottom: rem-calc(10);

        &--edit {
            margin-bottom: rem-calc(20);

            @include breakpoint(medium-up) {
                input {
                    max-width: 40%;
                }
            }
        }
    }
}

.items__more {

    &--later {

    }

    &--earlier {
        float: left;
    }
}
