.contact {

    &__header {
        text-align: right;

        &--title {
            display: inline-block;

            @include breakpoint(small only) {
                margin: 0;
            }

            @include breakpoint(medium up) {
                margin-right: rem-calc(20);

                @include pseudo-el(after, 10px, 10px, "") {
                    right: -30px;
                    top: 0;
                    content: "-";
                }
            }

            @include small-landscape() {
                .tel {
                    display: none;
                }
            }
        }

        &--email {
            font-size: 20px;
            display: inline-block;
            margin-left: rem-calc(20);

            &:before {
                position: relative;
                top: 4px;
            }
        }
    }

    @media screen and (max-width:1040px) {
        &__header {

            &--title {
                text-align: center;

                span,
                a {
                    display: block;
                }

                &:after {
                    content: '';
                }
            }

            &--email {
                margin-left: 0;
            }
        }
    }
}
